<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <meta name="CCBot" content="nofollow">
    <meta name="robots" content="noai, noimageai">
    <meta name="tdm-reservation" content="1">
    <meta property="og:title" content="{{ site.title }}">
    <meta name="twitter:title" content="{{ site.title }}">
    {% if description %}
        <meta name="description" content="{{ description }}">
        <meta property="og:description" content="{{ description }}">
        <meta name="twitter:description" content="{{ description }}">
    {% else %}
        <meta name="description" content="{{ site.description }}">
        <meta property="og:description" content="{{ site.description }}">
        <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    <meta property="og:url" content="{{site.url}}{{ page.url }}">
    <meta name="generator" content="{{ eleventy.generator }}"/>
    <link rel="stylesheet" href="/css/style.css">
    {% if css_file %}
        <link rel="stylesheet" href="/css/{{ css_file }}.css">
    {% endif %}
    <link rel="preconnect" href="https://api.fonts.coollabs.io ">
    <link href="https://api.fonts.coollabs.io/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>