<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
    <body>
        <div class="site-container">
            {% include "header.njk" %}
            <main class="fade-in">
                {{ content | safe }}
            </main>
            {% include "footer.njk" %}
        </div>
        <script data-goatcounter="https://retech.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    </body>
</html>