---
title: Home
layout: base.njk
---

<div class="hero">
  <section class="hero-information">
    <h1>Sustentabilidade na tecnologia</h1>
    <p>Começe o nosso quiz sobre a sustentabilidade de tecnologia.</p>
    <a class="btn" href="/quiz">Começar o quiz</a>
  </section>
  <img
    class="hero-banner"
    src="https://4.bp.blogspot.com/_uniZv_opmIs/TOs6n8mHiiI/AAAAAAAAAE8/jpDWQhvXel4/s1600/Nature_VS__Technology_by_paskoff.jpg"
    alt=""
/>
</div>

<style>
  .hero {
    display: grid;
    align-items: center;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-banner {
    border-radius: 24px;
  }
</style>