---
title: Quiz
layout: base.njk
css_file: quiz
---

<section class="quiz-frame" id="quiz">
    <h2 id="question">Questão</h2>
    <ul>
        <li>
            <input type="radio" name="answer" id="a" class="answer"/>
            <label for="a" id="a_text">Resposta</label>
        </li>
        <li>
            <input type="radio" name="answer" id="b" class="answer"/>
            <label for="b" id="b_text">Resposta</label>
        </li>
        <li>
            <input type="radio" name="answer" id="c" class="answer"/>
            <label for="c" id="c_text">Resposta</label>
        </li>
        <li>
            <input type="radio" name="answer" id="d" class="answer"/>
            <label for="d" id="d_text">Resposta</label>
        </li>
    </ul>
    <button id="enviar">Submeter</button>
</section>

<script src="/static/quiz-engine.js"></script>